body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}

header{
    margin-bottom: 150px;
    top: 0;
    padding: 10px 20px;
}

#header {
    background-color: black;
    position: fixed;
    width: 100%;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

#navbar img {
    height: 50px;
}

#logo {
    display: block;
    border: 1px solid white;
    border-radius: 50%;
}

#title {
    margin: 0;
    color: white;
}

#title a {
    text-decoration: none;
    color: white;
}

main {
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/008/800/866/small_2x/global-connection-and-the-internet-network-modernization-in-smart-city-ai-cloud-internet-background-free-video.jpg');
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 80px;
}

.project {
    height: 350px;
    background-color: #ccc;
    color: white;
    padding: 20px;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
}

.project.one { background-color: #E74C3C;}
.project.two { background-color: #3498DB;}
.project.three { background-color: #2ECC71;}
.project.four { background-color: #9B59B6;}
.project.five { background-color: #F1C40F;}
.project.six { background-color: #8e6f09;}

.project img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.project:hover {
    color: transparent;
}

.project:hover img {
    opacity: 1;
}



#footer {
    background-color: #222;
    color: #f1f1f1;
    text-align: center;
}

footer p{
    margin: 0;
    padding: 10px 0;
}

#footer a {
    text-decoration: none;
    color: #f1f1f1;
}